!!!
%html
  %head
    %title Tropa Trips
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container
      .row
        .col-lg-12
          = yield

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.js', 'data-turbolinks-track' => true
